@{
    Layout = null;
}

<div class="field field-name-field-after-text field-type-text-long field-label-hidden">
    <div class="field-items">
        <div class="field-item even">
            <h2>
                Контакты сервисной службы МЕДИН
            </h2>
            <h3>
                Юрков Сергей Владимирович
            </h3>
            <div>
                <strong>Телефон&nbsp;</strong>
            </div>
            <div>
                (+375-17) 504-80-25&nbsp;
            </div>
            <div>
                (+375-25) 743-66-99&nbsp;
            </div>
            <div>
                (+375-29) 674-21-74&nbsp;
            </div>
            <div>
                <strong>Е-mail</strong>
            </div>
            <div>
                <a href="mailto:service@medin.by">service@medin.by</a>
            </div>
        </div>
    </div>
</div>
