@model MedIn.Web.Models.FeedbackViewModel

<p><strong>Письмо с сайта, из раздела Контактной информации:</strong></p>
<p>ФИО: @Model.Username</p>
<p>Email: @Model.Email</p>
<p>Сообщение: @Model.Message</p>
