@using System.Diagnostics
@using MedIn.Web
@model UserEntity
@{
    var url = Url.ActionAbsolute(MVC.Accounts.RecoveryPassword((Guid)Model.Key));
}

<p>
    Для изменения пароля пройдите по ссылке <a href="@url">@url</a>.
    Если вы не запрашивали восстановление пароля, вероятно, другой пользователь по ошибке указал ваш адрес электронной почты. Если вы не делали запроса, не беспокойтесь: ваш аккаунт в Konig Labs защищен, и никаких действий предпринимать не нужно. Это письмо не угрожает вашей безопасности и конфиденциальности.
</p>

<p>
    To change password please click to the following link <a href="@url">@url</a>.
    If you don't request the password changing, please ignore this mail.
</p>
