@{
    Layout = MVC.Shared.Views._Layout;
}


@{ Html.RenderPartial(MVC.Shared.Views._Breadcrumbs); }
<div class="tabs"></div>
@RenderBody()
@RedefineSection("head")

@section leftMenu{
    @switch (WebContext.Location.Alias)
    {
        case "about":
        case "sertifications":
        case "news":
            Html.RenderPartial(MVC.Shared.Views.LeftMenu._LocationsLst);
            break;
        case "products":
            if (WebContext.ViewBag.CurrentCategory != null)
            {
                Html.RenderPartial(MVC.Shared.Views.LeftMenu._CategoriesTree,(List<Category>) WebContext.ViewBag.Categories);
            }
            break;
    }
}
