@{
    WebContext.PushBreadcrumb("404", "");
    WebContext.Metadata.MetaTitle = "Ошибка"+" 404!";
}
	<div style="padding:2em 4em">
		<h1>Ошибка 404!</h1>
		<h2 style="margin-top:1em;">Страница не найдена</h2>
		<p><a title="Перейти на домашнюю страницу" href="/">Перейти на домашнюю страницу</a></p>
	</div>
