<div id="mainSlider">
    <div id="carousel" style="height:349px">
        <div id="slide" class="slide">
            <img src="~/Content/i/themes/custom/images/cr_1_0.jpg">
            <div class="text">
                <h2>Стол для родовспоможения СР-01</h2>Инновационный подход к оснащению перинатальных центров, родильных домов и отделений.
                <a class="learn_more" href="http://www.medin.by/produkciya/ginekologiya-i-akusherstvo/stol-dlya-rodovspomozheniya-sr-01">Узнать больше</a>
            </div>
        </div>
        <div id="slide" class="slide">
            <img src="~/Content/i/themes/custom/images/kgm_3p_full_banner_1.jpg">
            <div class="text">
                <h2>Кресло гинекологическое КГМ-3П</h2>Отличное решение для перинатальных центров, консультативно-диагностических центров матери и ребенка, центров планирования семьи, родильных домов и отделений.
                <a class="learn_more" href="http://www.medin.by/produkciya/ginekologiya-i-akusherstvo/kreslo-ginekologicheskoe-kgm-3p">Узнать больше</a>
            </div>
        </div>
        <div id="slide" class="slide">
            <img src="~/Content/i/themes/custom/images/banner_4.jpg">
            <div class="text">
                <h2>Модульные системы</h2>Наилучшее решение для эффективного использования объема помещений. Безупречная эргономика, высокая степень эстетики и качества для создания оптимальных рабочих условий персоналу.
                <a class="learn_more" href="http://www.medin.by/produkciya/moduly">Узнать больше</a>
            </div>
        </div>
        <div id="slide" class="slide">
            <img src="~/Content/i/themes/custom/images/z-shtativ_full_banner.jpg">
            <div class="text">
                <h2>Новые штативы уникальной конструкции</h2>Упорядоченной хранение нужного количества штативов на минимальной площади. Удобная регулировка высоты штатива одной рукой.
                <a class="learn_more" href="http://www.medin.by/o-kompanii/novosti/ip-medindustriya-servis-o-novinkah-produkcii">Узнать больше</a>
            </div>
        </div>
        <div id="slide" class="slide">
            <img src="~/Content/i/themes/custom/images/beta_plus_0.jpg">
            <div class="text">
                <h2>Стол операционный универсальный ОК-БЕТА ПЛЮС (ОУК-02-1)</h2>Идеальное решение для оснащения операционного зала высокого уровня.
                <a class="learn_more" href="/produkciya/operacionnye-stoly/stol-operacionnyy-universalnyy-ok-beta-plyus-ouk-02-1">Узнать больше</a>
            </div>
        </div>
    </div>
    <a href="#" id="ui-carousel-next" style="display:block">
    </a>
    <a href="#" id="ui-carousel-prev" style="display:block">
    </a>
    <div id="pages"></div>
</div>
