@model ItemViewModel<News>

<h1 class="title" id="page-title">@Html.Raw(Model.Item.Name)</h1>

<div class="region region-content">
    <div id="block-system-main" class="block block-system">
        <div class="content">
            <div id="node-183" class="node node-news clearfix" about="/o-kompanii/novosti/chto-zhdet-vas-v-2015-godu" typeof="sioc:Item foaf:Document">
                <div class="content">
                    <div class="field field-name-field-date field-type-datetime field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2014-11-24T00:00:00+03:00">@Model.Item.PublishDate.ToString("D")</span>
                            </div>
                        </div>
                    </div>
                    <div class="field field-name-field-image field-type-image field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <img typeof="foaf:Image" src="@Url.Content(Model.Item.File.Name)" width="215" height="140" alt="">
                            </div>
                        </div>
                    </div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                              <div class="field-items">
                                  <div class="field-item even" property="content:encoded">
                                      @Html.Raw(Model.Item.Content)
                                  </div>
                              </div>
                          </div>
                    <div class="view view-news view-id-news view-display-id-entity_view_1 view-dom-id-e30272493c197d1bb8af6edc21633623">
                        <div class="view-content">
                            <a id="print_ver" href="javascript:print();">Версия для печати</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
