@using MedIn.Web
@model MedIn.Web.Models.FeedbackViewModel

<h1>@WebContext.Location.Header</h1>

@{ Html.RenderPartial(MVC.Contacts.Views._Form, Model); }

@Html.Raw(WebContext.Location.Teaser)

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&region=ru"></script><script type="text/javascript">
	/*<![CDATA[*/
	var moscow = new google.maps.LatLng(55.752, 37.617);
	function initialize() {
	  var myOptions = {
		zoom: 12,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	  
	  // Markers init
	  var mayakovskayaPos = new google.maps.LatLng(55.77152816106286, 37.598862648010254);
	  var mayakovskayaMarker = new google.maps.Marker({
		position: mayakovskayaPos,
		icon : "/Content/i/maps/marker.png",
		map: map,
		title:"Лаборатория на Маяковской"
	  });
	  var mayakovskayaString = '<div class="map_text"><a href="/contacts/lab_on_mayakovskaya/">Лаборатория на Маяковской</a><p>ул. 4-я Тверская-Ямская, д. 2/11, стр. 2</p><p><strong>Телефон: </strong>+7 (499) 584-44-84, доб. 4</p></div>';
	  var mayakovskayaInfowindow = new google.maps.InfoWindow({content: mayakovskayaString});
	  
	  
	  var marksistskayaPos = new google.maps.LatLng(55.73998904445413, 37.6726770401001);
	  var marksistskayaMarker = new google.maps.Marker({
		position: marksistskayaPos,
		icon : "/Content/i/maps/marker.png",
		map: map,
		title:"Лаборатория на Марксистской"
	  });
	  var marksistskayaString = '<div class="map_text"><a href="/contacts/lab_on_marksistskaya/">Лаборатория на Марксистской</a><p>ул. Большая Андроньевская, д. 25/33</p><p><strong>Телефон: </strong>+7 (499) 584-44-84, доб. 3</p></div>';
	  var marksistskayaInfowindow = new google.maps.InfoWindow({content: marksistskayaString});
	  
	  
	  var kropotkinskayaPos = new google.maps.LatLng(55.74477226594649, 37.60079383850098);
	  var kropotkinskayaMarker = new google.maps.Marker({
		position: kropotkinskayaPos,
		icon : "/Content/i/maps/marker.png",
		map: map,
		title:"Лаборатория на Кропоткинской"
	  });
	  var kropotkinskayaString = '<div class="map_text"><a href="/contacts/lab_on_kropotkinskaya/">Лаборатория на Кропоткинской</a><p>Гоголевский бульвар, д. 3</p><p><strong>Телефон: </strong>+7 (499) 584-44-84, доб. 1</p></div>';
	  var kropotkinskayaInfowindow = new google.maps.InfoWindow({content: kropotkinskayaString});
	  
	  
	  var suharevskayaPos = new google.maps.LatLng(55.768389881950846, 37.63237953186035);
	  var suharevskayaMarker = new google.maps.Marker({
		position: suharevskayaPos,
		icon : "/Content/i/maps/marker.png",
		map: map,
		title:"Лаборатория на Сухаревской"
	  });
	  var suharevskayaString = '<div class="map_text"><a href="/contacts/lab_on_suharevskaya/">Лаборатория на Сухаревской</a><p>Москва, ул. Сретенка, д. 16/2</p><p><strong>Телефон: </strong>+7 (499) 584-44-84, доб. 2</p></div>';
	  var suharevskayaInfowindow = new google.maps.InfoWindow({ content: suharevskayaString });

	  var oktyabrskayaPos = new google.maps.LatLng(55.72923144891461, 37.609755769371986);
	  var oktyabrskayaMarker = new google.maps.Marker({
	      position: oktyabrskayaPos,
	      icon: "/Content/i/maps/marker.png",
	      map: map,
	      title: "Лаборатория на Октябрьской"
	  });
	  var oktyabrskayaString = '<div class="map_text"><a href="/contacts/lab_on_oktyabrskaya/">Лаборатория на Октябрьской</a><p>Москва, Крымский вал, д. 3/2</p><p><strong>Телефон: </strong>+7 (499) 584-44-84, доб.5</p></div>';
	  var oktyabrskayaInfowindow = new google.maps.InfoWindow({ content: oktyabrskayaString });
	  
	  
	  map.setCenter(moscow);
	  window.onresize = function(){ map.setCenter(moscow); }
	  google.maps.event.addListener(mayakovskayaMarker, 'click', function() {	mayakovskayaInfowindow.open(map,mayakovskayaMarker);	});
	  google.maps.event.addListener(marksistskayaMarker, 'click', function() {	marksistskayaInfowindow.open(map,marksistskayaMarker);	});
	  google.maps.event.addListener(kropotkinskayaMarker, 'click', function() {	kropotkinskayaInfowindow.open(map,kropotkinskayaMarker);	});
	  google.maps.event.addListener(suharevskayaMarker, 'click', function () { suharevskayaInfowindow.open(map, suharevskayaMarker); });
	  google.maps.event.addListener(oktyabrskayaMarker, 'click', function () { oktyabrskayaInfowindow.open(map, oktyabrskayaMarker); });
	  
	}
	window.onload = function(){ initialize(); }
	
	/*]]>*/
</script>

@Html.Raw(WebContext.Location.Content)