@using MedIn.Web
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>@ViewBag.OziPageTitle</title>
    <link href="/Areas/Admin/Styles/Default/Default.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
         @RenderBody()
    </div>
</body>
</html>
