@using MedIn.Web
@{
    ViewBag.HtmlPageTitle = "Наберитесь терпения!";
}
<div id="layout">
    Модуль ещё не реализован
</div>


<script>
    $(function () {
        var height = $("#layout").parent().height();
        $("#layout").css({ background: "#cecece", fontSize: "72px", lineHeight: height + "px", textAlign: "center", color: "#7a7a7a", fontWeight: "bold" });
    });
</script>