<rewriteMaps>
	<rewriteMap name="oldsite">
	    <!--<add key="/equipment/2/" value="/technologies/equipment/rentgenovskoe-oborudovanie-planmeca-finlyandiya/" />
	    <add key="/equipment/3/" value="/technologies/equipment/rentgenovskoe-oborudovanie-morita-yaponiya/" />
	    <add key="/equipment/" value="/technologies/equipments/" />
	    <add key="/radiation-safety/" value="/technologies/radiation-safety/" />-->
	</rewriteMap>
</rewriteMaps>

