<rules>
	<!--<clear />
	<rule name="RemoveTrailingSlashRule1" enabled="true" stopProcessing="true">
		<match url="(.*[^/])$" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_METHOD}" pattern="POST" negate="true" ignoreCase="true" />
		</conditions>
		<action type="Redirect" url="{R:1}/" />
	</rule>
	<rule name="Remove WWW prefix and redirect" enabled="true"> 
		<match url="(.*)" ignoreCase="true" /> 
		<conditions> 
			<add input="{HTTP_HOST}" pattern="^3d-lab\.ru" /> 
		</conditions> 
		<action type="Redirect" url="http://www.3d-lab.ru/{R:1}" redirectType="Permanent" /> 
	</rule> 
	<rule name="Redirect rule1 for oldsite">
		<match url=".*" />
		<conditions>
			<add input="{oldsite:{REQUEST_URI}}" pattern="(.+)" />
		</conditions>
		<action type="Redirect" url="{C:1}" appendQueryString="false" />
	</rule>-->
</rules>
