@using MedIn.Web
@{
	ViewBag.OziPageTitle = "Permissions";
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
}

<h2>Не достаточно прав</h2>

У вас не достаточно прав для просмотра этой страницы.