@using MedIn.Web
@{
    WebContext.Metadata.MetaTitle = L("LoginForRecoveryHeader");
}
<h1>@L("LoginForRecoveryHeader")</h1>
<p>@L("LoginForRecovery")</p>
<div class="form">
@using (Html.BeginForm(MVC.Accounts.ForgotPassword(), FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="text" name="login"/>
    @Html.Submit(L("PostPassword"))
}
</div>